@font-face {
  font-family: inter;
  src: url(./assets/fonts/static/Inter-Regular.ttf) format("woff"), url(./assets/fonts/static/Inter-Bold.ttf) format("woff"),
    url(./assets/fonts/static/Inter-ExtraBold.ttf) format("woff");
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: inter;
}
